.body-font {
  font-family: 'Raleway', sans-serif;
}
.centered-img {
  display: block;
  width: 100%;
  margin: auto;
}

.offline {
  width: 100%;
}
@media (min-width: 720px) {
  .centered-img {
    width: 50% !important;
  }
  .offline {
    width: 50% !important;
  }
}
.centered-text {
  text-align: center;
}
.full-width {
  width: 100%;
}
.right-text {
  text-align: right;
}
.paragraph {
  padding-top: 15px;
  text-align: center;
}

.header {
  background-color: #eb4124;
  color: white;
  padding-left: 20px;
}

#my_camera {
  margin-top: 15px;
  border: 5px solid #eb4124;
  text-align: center;
  width: 160px;
  height: 120px;
}

#my_camera img {
  margin-top: 25px;
}

#results .images {
  display: block;
  margin: 0;
  padding: 0;
  padding-right: 7px;
  border: none;
  float: left;
}
