.body-font {
  font-family: 'Raleway', sans-serif;
}
.centered-img {
  display: block;
  width: 100%;
  margin: auto;
}

.offline {
  width: 100%;
}
@media (min-width: 720px) {
  .centered-img {
    width: 50% !important;
  }
  .offline {
    width: 50% !important;
  }
}
.centered-text {
  text-align: center;
}
.full-width {
  width: 100%;
}
.right-text {
  text-align: right;
}
.paragraph {
  padding-top: 15px;
  text-align: center;
}

.header {
  background-color: #eb4124;
  color: white;
  padding-left: 20px;
}
.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: #eb4124;
  border-color: #eb4124;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: #fff;
  background-color: #d32f13;
  border-color: #d32f13;
}

#camera_wrap {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 5px solid #eb4124;
  text-align: center;
  width: 235px;
  height: 185px;
}

#my_camera img {
  margin-top: 25px;
}
#my_camera video {
  border-radius: 15px;
}
#my_camera {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 120px;
}
#camera_tools {
  margin-left: -16px;
}
#results .images {
  display: block;
  margin: 0;
  padding: 0;
  padding-right: 7px;
  border: none;
  float: left;
}

#results .images img:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  width: 55px;
  padding: 0 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.7);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
